<ion-view view-title="About">


    <ion-content ng-class="{expanded:$scope.isExpanded}" scroll="scroll" class="has-footer">

        <div class="list card">


            <div class="item item-body">
                <img class="full-image" src="img/godsWeb.png">
                <p>
                    The All New Christian Social Networking App
                    <ul>
                        <li>Share Testimonies & Bible Scriptures.</li>
                        <li>Check What Your Fellow Christians Are Upto.</li>
                        <li>Subscribe To Your Favorite Daily Devotionals.</li>
                        <li>Book & Pay For A Seat At Any Gospel Event On The App.</li>
                    </ul>
                </p>
                <p>
                    <a href="http://www.gods-web.com" class="subdued">God's Web Online</a>
                </p>

            </div>

        </div>



    </ion-content>
    <ion-footer-bar>
     <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.explore" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.events" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            <a ui-sref="app.settings" class="tab-item">
                <i class="icon ion-settings"></i> Settings
            </a>
    </div>
        </ion-footer-bar>
</ion-view>
