<ion-view view-title="Daily Devotionals">
    <ion-content ng-class="{expanded:$scope.isExpanded}" scroll="scroll" class="has-footer">

        <div class="list card" ng-repeat="devCat in devotionalCategories">


            <div class="item item-body" ng-click="viewCategory(devCat);">
                <img class="full-image" ng-src="{{devCat.imageURL}}">
               <!-- <p>
                This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                the content is from a card-body consisting of an image and paragraph text. The footer
                consists of tabs, icons aligned left, within the card-footer.
                </p>-->
                <p>
                    <!--<a href="http://www.gods-web.com" class="subdued">God's Web Online</a>-->
                    <h2>{{devCat.name}}</h2>
                </p>
   
            </div>

        </div>



    </ion-content>
            <ion-footer-bar>
      <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.explore" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.events" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            <a ui-sref="app.settings" class="tab-item">
                <i class="icon ion-settings"></i> Settings
            </a>
    </div>
        </ion-footer-bar>
</ion-view>
