<ion-view view-title="Daily Devotionals">
    <ion-content ng-class="{expanded:$scope.isExpanded}" scroll="scroll" class="has-footer">

        <div class="list devotions" ng-repeat="devCat in devotionalCategories">


            <div class="item devotion-item-body" ng-click="viewCategory(devCat);">
                <img class="full-image" ng-src="{{devCat.imageURL}}">
                    <h2>{{devCat.name}}</h2>
            </div>
        </div>



    </ion-content>
            <ion-footer-bar>
      <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.explore" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.events" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            
    </div>
        </ion-footer-bar>
</ion-view>
