<ion-view view-title="Profile {{user.username}}">


    <ion-content ng-class="{expanded:$scope.isExpanded}" scroll="scroll" class="has-footer">
        <div class="hero slide-up" style="background-image: url('img/nightBG.jpeg'); height: 250px">
            <div class="content">
                <div class="halo" style="background-image: url('img/gold_halo.png');">  </div> </br>
                <div class="avatar" style="background-image: url({{user.profilePicURL}});">  </div>
                <h3><a class="light">{{user.name}}</a></h3>
                
                <!--<img src="img/verified.jpg" height=30 width=30>-->
            </div>
        </div>

<div class="tabs static special">
  <a class="title title header-item tab-item">
    <h4>{{user.followers}}</h4>
    <h4>Followers</h4>
  </a>
  <a class="tab-item">
    <h4>{{user.following}}</h4>
    <h4>Following</h4>
  </a>
  <a class="tab-item">
    <h4>{{user.topPosts}}</h4>
    <h4>Top Posts</h4>
  </a>
</div>

<div class="tabs static ">
 <h5 style="color: white"> <i class="icon ion-ios-home"></i> Proud member of @{{user.church}}</h5>
</div>

    <div class="aboutWrapper">
        <h4 class="about">ABOUT</h4>
        <p>{{user.about}}</p>
    </div>

        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <span>🙏 65 &nbsp; 🙌 45 &nbsp; 
                        <i class="icon ion-heart assertive"></i> 23
                <!--<i class="icon ion-chatbubble muted"></i>-->
            </a>
            <a ui-sref="app.friends" class="item item-avatar ">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; This is the where text gpes and more and more text</p>
                <span>🙏 65 &nbsp; 🙌 45 &nbsp; 
                        <i class="icon ion-heart assertive"></i> 23
                <!--<i class="icon ion-chatbubble muted"></i>-->
            </a>
            <a ui-sref="app.friends" class="item item-avatar">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <span>🙏 65 &nbsp; 🙌 45 &nbsp; 
                        <i class="icon ion-heart assertive"></i> 23
                <!--<i class="icon ion-chatbubble muted"></i>-->
            </a>
        </div>



    </ion-content>
    <ion-footer-bar>
     <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            <a ui-sref="app.settings" class="tab-item">
                <i class="icon ion-settings"></i> Settings
            </a>
    </div>
        </ion-footer-bar>
</ion-view>
