<ion-view view-title="Login" align-title="left">
    <ion-content style="background: background-size: cover;" scroll="true">
        <div class="hero no-header flat">
            <div class="content">
                          
                
            </div>
            <ion-header-bar class="bar-calm bar bar-header" align-title="center">  </ion-header-bar>
        </div>
        <div class="padding">
            <div class="list">
                <center>
                <label class=" item-input">
                    <input type="text" placeholder="email" id="emailText" style="background-color:#bbe8e5; border: solid 1px #0a9ec7;">
                </label>
                </center>
            </div>
            <div class="padding">
                <button class="button button-full button-calm ink" id="loginButton" ng-click="resetPassword()">Reset Password</button>
            </div>
        </div>

    </ion-content>
</ion-view>
