<ion-view view-title="Home">
    <ion-content ng-class="" class="animate-fade-slide-in" scroll="false">
    

            <ion-list class="list">
                <button class="button icon-left ion-social-facebook button-full " ion-item nav-clear menu-close >
                    Invite Facebook Friends
                </button>
                <button class="button icon-left ion-social-twitter button-full" nav-clear menu-close >
                    Invite Twitter Friends
                </button>
                <button class="button icon-left ion-person-add button-full" nav-clear menu-close >
                    Add Contacts
                </button>
                <button class="button icon-left ion-ios-cog button-full" nav-clear menu-close ui-sref="app.report_a_problem">
                    Report A Problem
                </button>
                <button class="button icon-left ion-ios-compose button-full" nav-clear menu-close ui-sref="app.edit_profile">
                    Edit Profile
                </button>
                <button class="button icon-left ion-android-list button-full" nav-clear menu-close ui-sref="app.about">
                    About
                </button>
                <button class="button icon-left ion-power button-full" nav-clear menu-close id="logoutButton">
                    Logout
                </button>
            </ion-list>

    </ion-content>
        <ion-footer-bar>
     <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.explore" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.events" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            
    </div>
        </ion-footer-bar>
</ion-view>
