<ion-view view-title="Login" align-title="left">
    <ion-content style="background: background-size: cover;" scroll="true">
        <div class="hero no-header flat">
            <div class="content">
                          
                
            </div>
            <ion-header-bar class="bar-calm bar bar-header" align-title="center">  </ion-header-bar>
        </div>
        <div class="list">
             <ion-md-input placeholder="Full name" highlight-color="balanced" type="text">
                <input type="text" class="md-input" id="emailText">
            </ion-md-input>
             <ion-md-input placeholder="Username" highlight-color="balanced" type="text">
                <input type="text" class="md-input" id="emailText">
            </ion-md-input>
            <ion-md-input placeholder="Email" highlight-color="balanced" type="email">
                <input type="text" class="md-input" id="emailText">
            </ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password">
                <input type="password" class="md-input" id="passwordText">
            </ion-md-input>
           

        </div>
        <div class="padding">
            <button  class="button button-full button-calm ink" ng id="loginButton" ng-click="createUser()">Sign Up</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
