<ion-view view-title="Login" align-title="left">
    <ion-content style="background: center; background-size: cover;background-image: url('img/login-bg2.jpg'); padding-top: 85px;" scroll="true">
        <!--<div class="hero no-header flat">
            <div class="content">
            </div>
            <ion-header-bar class="bar-calm bar bar-header" align-title="center">  </ion-header-bar>
        </div>-->
        <!--<div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>-->
        <div class="padding">
        <!--<div class="app-icon"></div>-->
        <center><img src="img/godsWeb.png"></center>

        

            <button ui-sref="app.login" class="button button-full button-calm ink">Login</button>
            <button ui-sref="app.signup" class="button button-full button-calm ink">Sign Up</button>
        </div>
        <!--<div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>-->
    </ion-content>
</ion-view>
