<ion-view view-title="Halo Upgrade">
    <ion-content ng-class="" class="animate-fade-slide-in" scroll="true">

        <div class="list ">

  <div class="item card upgrade">
      <div class="pull-right"  style="margin-right: 15px;" ng-if="user.halo == 'Halo Bronze'">
          <span>Current Halo</span>
      </div>
    <div class="halo" style="background-image: url('img/bronze_halo.png');">  </div>
    <h2>Upgrade to Bronze Halo</h2>
    <p>R 349.00 ZAR</p>


  <div class=" assertive"  ng-click="upgradeHaloBronze()" ng-if="user.halo !== 'Halo Bronze' && user.halo !== 'Halo Silver'">
    <i class="icon ion-card"></i>
    Buy
  </div>
  </div>

    <div class="item card upgrade">
        <div class="pull-right"  style="margin-right: 15px;" ng-if="user.halo == 'Halo Silver'">
            <span>Current Halo</span>
        </div>
    <div class="halo" style="background-image: url('img/silver_halo.png');">  </div>
    <h2>Upgrade to Silver Halo</h2>
    <p>R 599.00 ZAR</p>


  <div class=" assertive"  ng-click="upgradeHaloSilver()" ng-if="user.halo !== 'Halo Silver'">
    <i class="icon ion-card"></i>
     Buy
  </div>
  </div>

</div>


    </ion-content>
        <ion-footer-bar>
     <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.explore" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            <a ui-sref="app.settings" class="tab-item">
                <i class="icon ion-settings"></i> Settings
            </a>
    </div>
        </ion-footer-bar>
</ion-view>
