<ion-view view-title="About">


    <ion-content ng-class="{expanded:$scope.isExpanded}" scroll="scroll" class="has-footer">

     
        <div class="item card-item" ng-repeat="devotion in devotions | orderBy:'timestamp':true">
            <div  class="card stable-bg ink ink-light">
                <div class="item  item-text-wrap">
                    <!--<span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>-->
                    <strong>{{devotion.verse}}</strong> <p>{{devotion.word}}</p>
                    <div class="card-footer text-right">
                        <span>{{devotion.version}}</span>
                    </div>
                    <p>{{devotion.explaination}}</p>
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> <span am-time-ago="devotion.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </ion-content>
    <ion-footer-bar>
     <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.home" class="tab-item">
                <i class="icon ion-ios-home"></i> Home
            </a>
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-android-people"></i> Profile
            </a>
            <a ui-sref="app.explore" class="tab-item">
                <i class="icon ion-ios-world"></i> Explore
            </a>
            <a ui-sref="app.events" class="tab-item">
                <i class="icon ion-calendar"></i> Events
            </a>
            <a ui-sref="app.devotions" class="tab-item">
                <i class="icon ion-ios-book"></i> Devotions
            </a>
            
    </div>
        </ion-footer-bar>
</ion-view>
